.max-75 {
	max-width:75% !important;
}
.bg-split-txt {
	position: relative;
	width: 100%;
	font-size: 30px;
	text-align: center;
	content-align: center;
	padding:auto;
	margin:auto;
}
.bg-black {
	background-color:#000!important;
}
.contact-t-pad {
	padding-top: 125px !important;
}
.text-dark {
    color: #757575 !important;
}